{% extends 'base.html.twig' %}

{% block title %}Citas {% endblock %}

{% block body %}


    {% if citas %}

    {% for cita in citas %}

<div class="ui raised very padded text container segment">
  <h2 class="ui header">{{ cita.titulo }}</h2>
  <p>{{ cita.contenido }}</p>
  <p> creada el: {{ cita.createdAt }}</p>
  <p>
  <a href="#" class="ui yellow basic button">Modificar</a>
  <a href="#" class="ui negative basic button">Eliminar</a>
  </p>

</div>

    {% endfor %}

    {% else %}

    <div class="ui message">
        <div class="header">
        No hay mensajes disponibles
        </div>
        <p>Por favor empiece a crear nuevos mensajes y serán desplegados aqui</p>
    </div>

    {% endif %}


{% endblock %}