
<div class="ui inverted vertical footer segment" id="footer">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        
        
        <div class="seven wide column centered column">
          <h4 class="ui inverted header">Citas famosas</h4>
          <p>Web en Symfony creada por Juan Luna Lama</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">FAQS</a>
        <a class="item" href="https://facebook.com/juanlunalama">Contactame</a>
        <a class="item" href="#">Terminos y condiciones</a>
        <a class="item" href="#">Politica de privacidad</a>
      </div>
    </div>