<div class="ui attached stackable menu">
  <div class="ui container">
    <a class="item" href="/">
      <i class="home icon"></i> Inicio
    </a>
    <a class="item">
      <i class="grid layout icon"></i> Mejores Citas
    </a>

    <a class="item" href="/crearCita">
      <i class="grid layout icon"></i> Crear cita
    </a>

    <div class="ui simple dropdown item">
      Mas Acciones
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"><i class="edit icon"></i> FAQS</a>
        <a class="item"><i class="globe icon"></i> Contactar</a>
        <a class="item"><i class="settings icon"></i> Ajustes</a>
      </div>
    </div>
    <div class="right item">
      <div class="ui input"><input placeholder="Buscar..." type="text"></div>
    </div>
  </div>
</div>